[submodule "stm32_example/drivers/STM32CubeF4"]
	path = stm32_example/drivers/STM32CubeF4
	url = https://github.com/STMicroelectronics/STM32CubeF4
[submodule "vendor/secp256k1-zkp"]
	path = vendor/secp256k1-zkp
	url = https://github.com/BlockstreamResearch/secp256k1-zkp.git
